{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Want to get in touch? Fill out the form below to send me a message and We will get back to you as soon as possible!</p>
		<form action="" method="post">
			{% csrf_token %}
			<table border="1">
				{{ form }}
			</table>
			<br>
			<div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
          </div>
		</form>
{% endblock %}